/* Styles for Navbar */
.navbar-custom-background {
    background-color: #0081A7;
}

.btn-helpline {
    background-color: #F07167; 
    border-color: #F07167;    
    color: black;             
}

.btn-helpline:hover {
    background-color: #d7473c; 
    border-color: #d7473c;    
}
.navbar-brand {
    color: #FED9B7;
}