@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Styles for Navbar */
.navbar-custom-background {
    background-color: #00AFB9;
}

.btn-helpline {
    background-color: #F07167;
    border-color: #F07167;
    color: black;
}

.btn-helpline:hover {
    background-color: #d7473c;
    border-color: #d7473c;
}

.navbar-brand {
    color: #FED9B7;
}

/* Main content */
main {

    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* hero */
h1 {
    color: #FED9B7; 
}
.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/*Safety tips*/
.homepage-safety-header,
.safety-page-header {
    color: #0081A7;
    text-align: center;
}

.homepage-safety-text    {
    text-align: center;
    font-size: 120%;
}

.safety-page-text {
    text-align: center;
    font-size: 120%;
}

.safety-article {
    background-color: #FDFCDC;
}

.card-footer {
    background-color: white;
    text-align: center;
}

.card-title {
    text-align: center;
    color: #0081A7;
}

.card {
    border-color: #0081A7;
}

.btn-light {
    background-color: #00AFB9;
    color: #FDFCDC;
}

.btn-light:hover {
    background-color: #166166;
    color: #FDFCDC;
}

.card-footer {
    border-color: #0081A7;
}

/* Footer */
.footer {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    background: #00AFB9;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer-list {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 120px;
    height: 120px;
    background-color: #FED9B7;
    border-radius: 50%;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

.footer a {
    position: relative;
    top: 40%;
    left: 15px;
    font-style: normal;
    text-decoration: none;
    color: #0081A7;
    letter-spacing: 0.03em;
}

.logo-span {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: black;
}

.socials {
    width: 400px;
    height: 60px;
}